<div class="container">
  <div class="row my-5">
    <div class="col d-flex flex-row justify-content-center align-items-center">
      <img src="../../../assets/img/avatar1.png" alt="immagine death note" />
      <h1 class="text-center">I miei task del cuore...<br>Quelli completati!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li class="mb-2 fs-3" *ngFor="let todo of completedTodosConNomeUser" [ngClass]="[todo.completed ? 'bg-success' : 'bg-danger']">
          <app-single-task [todo]="todo"></app-single-task>
        </li>
      </ul>
    </div>
  </div>
</div>
